VOXCPM2_API_HOST=0.0.0.0
VOXCPM2_API_PORT=8000
VOXCPM2_MODEL_ID=openbmb/VoxCPM2
VOXCPM2_MODEL_PATH=
VOXCPM2_MODEL_CACHE_DIR=
VOXCPM2_PREFER_BACKEND=auto
VOXCPM2_LOAD_DENOISER=false
VOXCPM2_LOCAL_FILES_ONLY=false
VOXCPM2_STARTUP_LOAD_MODEL=false
VOXCPM2_HF_ENDPOINT=
VOXCPM2_CORS_ORIGINS=*
VOXCPM2_NANOVLLM_DEVICES=0
